body {
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}

.wrap {
    float: left;
}

.steps {
    clear: both;
    text-align: center;
}

img {
    margin-right: 15px;
}

ol img {
    border-radius: 10px;
}

footer {
    text-align: center;
}

ol li {
    list-style: none;
    margin: 10px;
}